[defaults]
inventory = inventory/hosts.cfg
remote_user = testuser
private_key_file = /path/to/ssh/key
interpreter_python = auto_silent
host_key_checking = False
roles_path = ./roles
become_ask_pass = True